@tailwind base;
@tailwind components;
@tailwind utilities;

/* Start - Helixa Font */
@font-face {
  font-family: "Helixa";
  font-weight: 300;
  font-style: normal;
  src: url("/assets/fonts/helixa/Helixa-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Helixa";
  font-weight: 300;
  font-style: italic;
  src: url("/assets/fonts/helixa/Helixa-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Helixa";
  font-weight: 350;
  font-style: normal;
  src: url("/assets/fonts/helixa/Helixa-Book.woff2") format("woff2");
}

@font-face {
  font-family: "Helixa";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/helixa/Helixa-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Helixa";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/helixa/Helixa-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Helixa";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/helixa/Helixa-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Helixa";
  font-weight: 700;
  font-style: italic;
  src: url("/assets/fonts/helixa/Helixa-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Helixa";
  font-weight: 300;
  font-style: normal;
  src: url("/assets/fonts/helixa/Helixa-Light.woff2") format("woff2");
}
/* End - Helixa Font */

/* Start - Seagull Font */
@font-face {
  font-family: "Seagull";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/seagull/Seagull.woff2") format("woff2");
}
/* End - Seagull Font */

html,
body {
  -webkit-overflow-scrolling: touch;

  overflow-x: hidden;

  background-color: #fffbf3;
}

@media screen and (min-width: 640px) {
  .swiper-pagination {
    position: absolute !important;
    top: 11% !important;

    display: flex !important;
    justify-content: end !important;
    align-items: unset !important;
    height: min-content !important;
  }
}

.swiper-pagination-bullet {
  background-color: #19918e !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background-color: #fffbf3 !important;
}

.clip-mask {
  -webkit-clip-path: inset(
    var(--y) var(--x) 0 var(--x) round var(--r) var(--r) 0 0
  );
  clip-path: inset(var(--y) var(--x) 0 var(--x) round var(--r) var(--r) 0 0);
}

.pagination-mobile {
  top: 0 !important;
  height: min-content !important;
}
